@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Events</h1>
    <p class="lead">
        A Pioneer in the Events Industry over 15 years of Experience.
    </p>
    <p class="lead">
        We are committed to QUALITY, EXCELLENCE and LONG TERM relationship with our clients
    </p>
    <p><a href="https://www.facebook.com/Onlineeventscorporation/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row home">
    <div class="col-md-4">
        <h2>About</h2>
        <p>We create relevant, memorable and meaningful experiences in innovative marketing activities</p>
    </div>
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            <ul>
                <li>Events Marketing Consultancy</li>
                <li>Marketing Promotions Management</li>
                <li>Logistical Services Support</li>
                <li>Professional Marketing Services</li>
                <li>Graphic Designs, Printing and Fabrication</li>
                <li>Manpower Deployment</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p></p>
    </div>
</div>