OnlineEventsMarketingApp/packages/
OnlineEventsMarketingApp/OnlineEventsMarketingApp/bin/
OnlineEventsMarketingApp/OnlineEventsMarketingApp/obj/
OnlineEventsMarketingApp/OnlineEventsMarketingApp.Tests/bin/
OnlineEventsMarketingApp/OnlineEventsMarketingApp.Tests/obj/
