@using Newtonsoft.Json
@model OnlineEventsMarketingApp.Models.Data.DataSheetViewModel
@{
    ViewBag.Title = "Data Sheet";
}

<h2>Data Sheet</h2>

@using (Html.BeginForm("DataSheet", "Data", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-xs-12 col-md-6 t1">
            <div class="col-md-6">
                @Html.DropDownListFor(m => m.Month, Model.Months, new { @class = "form-control" })
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(m => m.Year, Model.Years, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-xs-12 col-md-6 pull-right">

            <div class="pull-right">
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.File, new { type = "file", @class = "form-control t1", accept = ".xlsx, .xls, .csv" })
                </div>
                <div class="col-md-6">
                    <button class="btn btn-default t1">Import Data</button>
                    @Html.ActionLink("Export Data", "ExportToExcel", new { month = Model.Month, year = Model.Year }, new { @class = "btn btn-success t1 js-export" })
                </div>
            </div>
        </div>
    </div>
}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>DIS</th>
            <th>TE</th>
            <th>TM</th>
            <th>Area</th>
            <th>In House</th>
            <th>RND</th>
            <th>Date</th>
            <th>New Users</th>
            <th>Existing Users</th>
            <th>Status</th>
            <th># Of Patients</th>
            <th>Tag</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: datasheet">
        <tr>
            <td data-bind="text: DataSheetId"></td>
            <td data-bind="text: DIS"></td>
        </tr>
    </tbody>
</table>

@section Scripts {
    <script src="~/Scripts/Data/datasheet.js" type="text/javascript"></script>

    <script type="text/javascript">

        var data = function() {
            var self = this;
            self.DataSheetId = ko.observable();
            self.DIS = ko.observable();
        };

        var viewModel = function() {
            var self = this;
            self.datasheet = ko.observableArray([]);

            var month = $('#Month').val();
            var year = $('#Year').val();
            var args = { month: 3, year: year };

            $.ajax({
                dataType: "json",
                url: "/Data/GetDataSheet",
                data: args,
                success: function (returnData) {
                    //ko.mapping.fromJS(returnData, {}, self.datasheet);
                },
                error: function (err) {
                    alert('Error getting data');
                    alert(JSON.stringify(err));
                }
            });
        }

        ko.applyBindings(new viewModel());
    </script>


}
