@model OnlineEventsMarketingApp.Models.Data.DataSheetViewModel
@{
    ViewBag.Title = "Data Sheet";
}

<h2>Data Sheet</h2>

@using (Html.BeginForm("DataSheet", "Data", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-xs-12 col-md-6 t1">
            <div class="col-md-6">
                @Html.DropDownListFor(m => m.Month, Model.Months, new { @class = "form-control" })
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(m => m.Year, Model.Years, new { @class = "form-control" })
            </div>            
        </div>
        <div class="col-xs-12 col-md-6 pull-right">

            <div class="pull-right">
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.File, new { type = "file", @class = "form-control t1", accept = ".xlsx, .xls, .csv" })
                </div>
                <div class="col-md-6">
                    <button class="btn btn-default t1">Import Data</button>
                    @Html.ActionLink("Export Data", "ExportToExcel", new { month = Model.Month, year = Model.Year }, new { @class = "btn btn-success t1 js-export" })
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/Scripts/Data/datasheet.js" type="text/javascript"></script>
}
