body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/


@media all {

    .clear-left {
        clear: left;
    }

    /* Padding */
    .p0 {
        padding: 0;
    }

    /* Margin */
    .m0 {
        margin: 0;
    }

    .ml1 {
        margin-left: 1em;
    }

    .ml2 {
        margin-left: 2em;
    }

    .mr1 {
        margin-right: 1em;
    }

    .mr2 {
        margin-right: 2em;
    }

    /* Width */
    .w10 {
        width: 10%;
    }

    .w20 {
        width: 20%;
    }

    .w30 {
        width: 30%;
    }

    .w40 {
        width: 40%;
    }

    .w50 {
        width: 50%;
    }

    .w60 {
        width: 60%;
    }

    .w70 {
        width: 70%;
    }

    .w80 {
        width: 80%;
    }

    .w90 {
        width: 90%;
    }

    .w100 {
        width: 100%;
    }

    .img-responsive {
        width: 100%;
    }

    .img-max {
        max-width: 100%;
    }

    .inline-block {
        display: inline-block;
    }

    .relative {
        position: relative;
    }

    /* Spacers for mobile only */
    .b0 {
        margin-bottom: 0 !important;
    }

    .b1 {
        margin-bottom: 1em;
    }

    .b2 {
        margin-bottom: 2em;
    }

    .b3 {
        margin-bottom: 3em;
    }

    .b4 {
        margin-bottom: 4em;
    }

    .t0 {
        margin-top: 0;
    }

    .t1 {
        margin-top: 1em;
    }

    .t2 {
        margin-top: 2em;
    }

    .t3 {
        margin-top: 3em;
    }

    .t4 {
        margin-top: 4em;
    }
}

.validation-summary-errors {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}


input[type="file"] {
    line-height: 10px;
}

.ptop1 {
    padding-top: 1em;
}

.ptop2 {
    padding-top: 2em;
}

.ptop3 {
    padding-top: 3em;
}




.table-striped > tbody > tr:nth-child(odd) > td.variance-met,
.table-striped > tbody > tr:nth-child(odd) > th.variance-met {
    background-color: #c3e6cb;
    color: #155724;
}

.table-striped > tbody > tr:nth-child(odd) > td.variance-not-met,
.table-striped > tbody > tr:nth-child(odd) > th.variance-not-met {
    background-color: #f5c6cb;
    color: #721c24;
}

td.variance-met {
    background-color: #c3e6cb;
    color: #155724;
}

td.variance-not-met {
    background-color: #f5c6cb;
    color: #721c24;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.datepicker {
    z-index: 999999;
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loading-modal {
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../Images/Interwind-1s-200px.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

    /* Anytime the body has the loading class, our
   modal element will be visible */
    body.loading .loading-modal {
        display: block;
    }

.border-right {
    border-right: 1px dotted gray;
}

.home li {
    margin-left: -25px;
}

.page-heading h1 {
    margin-top: 0;
    color: #fff;
    font-family: pt sans caption,Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.page-heading {
    margin: -16px -16px 30px -16px;
    position: relative;
    padding: 30px 15px;
    text-align: center;
    color: rgba(255,255,255,.5);
    background-color: #b84d45;
    font-size: 1.25rem;
    background-image: url(/images/bg.png);
}

@media (min-width: 768px) {
    .page-heading h1 {
        font-size: 5rem;
        line-height: 1;
    }
}

@media (min-width: 768px) {
    .page-heading {
        margin-left: -230px;
        margin-right: -230px;
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: left;
        font-size: 2rem;
    }

        .page-heading .container-fluid {
            padding-left: 215px;
        }
}

thead th {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: middle;
    border-top: 2px solid #dddddd;
    background-color: #f9f9f9;
}

.table-wrapper {
    max-height: 500px;
    overflow: auto;
}
