@model OnlineEventsMarketingApp.Models.Settings.TagListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateTag")
    <a href="javascript:void(0)" data-target="#ModalCreateTags" data-toggle="modal" class="js-workScheduleLink">@(Model.WorkScheduleId > 0 ? "Change Work Schedule" : "Set Work Schedule")</a>
</p>

<div class="form-group">
    <div class="col-md-4">
        @Html.DropDownListFor(m => m.Month, Model.Months, new { @class = "form-control" })
    </div>
</div>

@Html.Partial("_TagContent", Model)
